/* You can override this file with your own styles */
.navbar {
  background-color: #003366;
}
.navbar .brand {
  color: white;
}

.navbar .brand:focus,
.navbar .brand:hover {
    color: #dddddd;
}

.navbar .nav>li>a {
  color: white;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #dddddd;
}
